
@import url("./base.css");
/* @import url("./gird.css"); */

/* Header */
 
header {
    width: 100%;
    position: fixed;
    height: var(--header-height);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    font-family: var(--cormorant-font);
}
.navigation-item{
    font-size: var(--nav-font);
    position: relative;
}
.navigation-item:hover{
    color: var(--main-color-bolder);
}
.vertical-line{
    height: 50%;
    border: 1px solid #000;
}


/* Main */
.full-width-color{
    width: 100%;
    background-color: var(--white-color);
}

main{
    margin-top: var(--header-height);
    background-color: var(--main-color) ;
    min-height: 500px;
    padding: 5em 0 ;
}
.section-home {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* background-color:#83bec9 ; */
    background-color: var(--main-color);
}
.section-home-img{
    width: 90%;
    max-width: 800px;
}
.section-home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-home-img-info{
    left: 30px;
    top: 100px;
    position: absolute;
    width: 60em;
    height: 400px;
    background-color: var(--main-color-bolder);
    padding: 2em;
    display: flex;
    flex-direction:column ;
    color: var(--white-color);
}
.section-home-img-info h1{
    font-size: var(--title-font);
    font-weight: 500;
    font-family: var(--roboto-font);
    margin-top: 0.5em ;

}
.section-home-img-info h2{
    margin: 1em 0 ;
    font-size: 3.5em;
    font-weight: 600;
    font-family: var( --montserrat-font);
}
.section-home-img-info p{
    font-size: var(--sub-normal-font);
}
.section-home-img-info a{
    position: relative;
    margin-top: 30px;
    width: 200px;
    border-radius: 10px;
    /* padding: 0.5em 0.5em; */
    /* background-color:#83bec9 ; */
    font-size: var(--nav-font);
}
.section-home-img-info a::after{
    content: "" ;
    position: absolute;
    height: 1px;
    left: 0;
    width: 0 ;
    bottom: -40%;
    background-color: #fff;
    padding:1px;
    width: 70%;
}

/* Team */
.section-member{
    min-height: 560px;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
  
}
.section-member h1{
    text-align: center;
    font-size: var(--nav-font);
    font-weight: 400;
    margin: 0.5em 0 ;
    font-family: var(--montserrat-font);

}
.section-users{
    display: flex;
    justify-content: space-around;
   
}   
.user{
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    height: 320px;
    padding: 0 1em;
}
.user-img{
    position: relative;
    margin: 1em auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    height: 100%;
}
.user-content{
    font-family: var(--roboto-font);
    font-weight: 400;
}
.user-content h2{
    font-size: var(--normal-font);
    text-align: center;
    font-family: var( --roboto-font);
    font-weight: 400;
}
.user-content h3{
    font-size: var(--sub-normal-font);
    text-align: center;
    font-weight: 400;
}
.user-icon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.user-icon a{
    height: 20px;
    font-size: var(--tiny-font);
}
.user-icon i {
    color: #000;
    font-size: var(--tiny-font);
    margin-right: 1em;
}
.card {
    position: relative;
    background-color: var(--white-color);
    box-shadow: 0.6rem 0.6rem 1.2rem #d2dce9 ;
                /* 0.6rem 0.6rem 1.2rem #d2dce9 ;   */

}
.card:hover{
    box-shadow: 0.6rem 0.6rem 1.2rem #d2dce9 ,
    0.6rem 0.6rem 1.2rem #d2dce9 ;  
}
.card::before{
    top: -10px;
    right: -0.5px;
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    background: var(--main-color);
    z-index: 0;
}
/* Project */
.section-project{
    padding: 1em;
    min-height: 600px;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
.section-project h1{
    text-align: center;
    font-size: var(--nav-font);
    font-weight: 400;
    margin: 0.5em 0 ;
    font-family: var(--montserrat-font);
}
.section-project img {
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}
.section-project img:hover{
    transform: scale(1.2);
    z-index: 0;
}
.box{
    overflow: hidden;
}
.section-project a{
    display: block;
    width: 300px;
    max-width: 500px;  
    height: 200px; 
    position: relative;
}

.sibling{
    padding: 0.2em 1em;
    font-family: var(--roboto-font);
    position: absolute;
    bottom: -50%;   
    width: 100%;
    max-width: 310px;
    background-color: rgba(201, 200, 200, 0.808);
}
.section-project img:hover ~ .sibling{
    animation: increase .8s linear forwards;
}
.sibling:hover{
    height: 160px;
    opacity: 1;
}
@keyframes increase {
    0%{
        height: 0;
        opacity: 0;
    }
    100%{
        height: 160px;
        opacity: 1;
    }
}

footer{
    width: 100%;
    height: 80px;
    background-color: #000;
}
